---
import { getI18N } from '../i18n/index.ts';

const { currentLocale } = Astro;
const i18n = getI18N({ currentLocale });

const about = i18n.SECTION_AB.ABOUT;
---

<div id="about-me" class="mt-12 mx-auto max-w-4xl">
    <div class="flex flex-col md:flex-row justify-between gap-8">
        <div class="md:w-1/2">
            <h2 class="text-2xl font-bold mb-4 flex items-center gap-2">
                <span>{about.TITLE}</span>
                <div class="flex-grow h-0.5 bg-gray-300"></div>
            </h2>
            {
                about.DESCRIPTION.map((paragraph) => (
                    <p class="mb-6 text-gray-200">
                        {paragraph.map((segment: any) => (
                            <span class={segment.type === 'highlight' ? 'font-semibold text-yellow-200' : ''}>{segment.text}</span>
                        ))}
                    </p>
                ))
            }
        </div>
        <div class="image-wrapper relative inline-block md:w-1/2">
            <img src="./me/spain-nl-yl2.webp" alt="Running" class="w-full h-auto rounded-lg" />
        </div>
    </div>
    <div class="grid grid-cols-3 sm:grid-cols-4 gap-4 items-center">
        <img
            src="./me/athens.webp"
            alt="Athens"
            class="aspect-[2/3] object-cover w-full h-auto rounded-lg shadow transition duration-300 ease-in-out transform hover:scale-105 hover:shadow-lg"
        />
        <img
            src="./me/tokyo.webp"
            alt="Tokyo"
            class="aspect-[2/3] object-cover w-full h-auto rounded-lg shadow transition duration-300 ease-in-out transform hover:scale-105 hover:shadow-lg"
        />
        <img
            src="./me/globe.webp"
            alt="Globe"
            class="aspect-[2/3] object-cover w-full h-auto rounded-lg shadow transition duration-300 ease-in-out transform hover:scale-105 hover:shadow-lg"
        />
        <img
            src="./me/lleida.webp"
            alt="Lleida"
            class="aspect-[2/3] object-cover w-full h-auto rounded-lg shadow transition duration-300 ease-in-out transform hover:scale-105 hover:shadow-lg"
        />
        <img
            src="./me/cv.webp"
            alt="CV"
            class="aspect-[2/3] object-cover w-full h-auto rounded-lg shadow transition duration-300 ease-in-out transform hover:scale-105 hover:shadow-lg"
        />
        <img
            src="./me/running.webp"
            alt="Running"
            class="aspect-[2/3] object-cover w-full h-auto rounded-lg shadow transition duration-300 ease-in-out transform hover:scale-105 hover:shadow-lg"
        />
    </div>
</div>
