---
const Categories = [
    {
        name: 'Personal',
        style: 'border-sky-500 hover:bg-sky-500/10 bg-sky-500/5 text-sky-500',
    },
];
---

<div class="mt-4 flex flex-wrap gap-2 justify-center">
    {
        Categories.map((category) => (
            <button
                class={`border-white/40 hover:bg-white/10 bg-white/5 text-white/50 hover:text-white hover:scale-105 transition-all cursor-pointer rounded-md border text-sm px-2.5`}
            >
                {category.name}
            </button>
        ))
    }
</div>
